{% extends "base.html" %}
{% block content %} 
{% import "bootstrap/wtf.html" as wtf %}
<script>
	function setvalue(x){	
		document.forms['myform'].elements["value"].value=parseInt(document.forms['myform'].elements["value"].value)+x;
		if(document.forms['myform'].elements["value"].value==0)
		{
			document.forms['myform'].elements["value"].value=12
		}
		else if(document.forms['myform'].elements["value"].value==13)
		{
			document.forms['myform'].elements["value"].value=1
		}
	}
	
</script>

{% set month = ['January', 'February', 'March', 'April', 'May', 'June', 'July','August','September','October','November','December'] %}
{% set week_addr = ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'] %}
<div class="container">
    <h1 style="text-align: center;">Making appointment with: {{name}}</h1>
		<table class="clmonth ">
		<tr>
			<caption>
				<form action=""  method="post" name='myform' >
					{{ form.hidden_tag() }}
					{{wtf.form_field(form.dec,onclick="setvalue(-1)")}}
					{{date.year}}  {{month[date.month-1]}}
					{{wtf.form_field(form.inc,onclick="setvalue(+1)")}}
				</form>
			</caption> 
		
		{% for addr in week_addr %}
		<th>{{addr}}</th>
		{% endfor %}

		</tr>
		{% for weeks in content %}
		<tr>
		{% for day in weeks %}
		{% if day == 0 %}
		<td>&nbsp</td>
		{% else %}
		<td><a href="/editevent?year={{date.year}}&month={{date.month}}&day={{day}}&instructor={{name}}" id="day">{{ day }}</a></td>
		{% endif %}
		{% endfor %}
		</tr>
		{% endfor %}
		</table>
</div>


{% endblock %}
