{% extends "base.html" %}

{% block content %}
{% import "bootstrap/wtf.html" as wtf %}
<style>
    .form-control{
        width:200px;
    }
</style>
<div class="container">
<form action="" method="post" >
    <h1> Forget password</h1>
    {{ form.hidden_tag() }}
    <p>
        {{wtf.quick_form(form,button_map={'submit': 'primary'})}}
        {%if done%}
        A reset link has sent to {{form.email.data}} <a href="/">Home</a>
        {%endif%}
    </p>
</form>
</div>
{% endblock %}
