{% extends "base.html" %}
{% block content %}


<div class="container">
     <h1>Welcome to Chat schedule system!</h1>   
     <table class="table">
          <tr>
              <th>Professor</th>
              <th>Make Appoinment</th>
           
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ user.username}}</td>
                <td><a href="/{{ user.username}}">Appoinment</a></td>
               
            </tr>
            {% endfor %} 
      </table>  
</div>

{% endblock %}
