{% extends "base.html" %}
{% block content %}


<h1>Welcome to Appoinment schedule system!</h1>
<div class="container">
     <hr />
     <hr style="FILTER: alpha(opacity=100,finishopacity=0,style=2)" width="80%" color=#987cb9 SIZE=200>
     <div>
          <img src="../static/img/avilability.png" width="500" height="300" alt="avilability" />
          <span>This page allows creator to select the available time </span>
     </div>

     <HR style="border:3 double #987cb9" width="80%" color=#987cb9 SIZE=3>
     <br>
     <div> <img src="../static/img/meeting.png" width="500" height="300" alt="meeting" />
          <span>This page allows creators to see all appoinments had been scheduled </span>
     </div>


     <HR style="border:3 double #987cb9" width="80%" color=#987cb9 SIZE=3>
     <br>
     <div> <img src="../static/img/forgot.png" width="500" height="300" alt="forgot" />
          <span>This page will ask for the email address of creators so that server would send reset link to creators' email </span>
     </div>
     <HR style="border:3 double #987cb9" width="80%" color=#987cb9 SIZE=3>
     <br>

     <div> <img src="../static/img/editevent.png" width="500" height="300" alt="editevent" />
          <span>This page allows guest to edit the event and make appoinments with creator </span>
     </div>
     <HR style="border:3 double #987cb9" width="80%" color=#987cb9 SIZE=3>
     <br>

     <div> <img src="../static/img/calendar.png" width="500" height="300" alt="calendar" />
          <span>This page allows users to select the date in the calendar </span>
     </div>
     <HR style="border:3 double #987cb9" width="80%" color=#987cb9 SIZE=3>
     <br>

     <div>
          <img src="../static/img/login.png" width="500" height="300" alt="login" />
          <span>This page allows creators to sign in with an account </span>
     </div>
     <HR style="border:3 double #987cb9" width="80%" color=#987cb9 SIZE=3>
     <br>
     <div> <img src="../static/img/register.png" width="500" height="300" alt="register" />
          <span>This page allows creators to register for a account</span>
     </div>
     <HR style="border:3 double #987cb9" width="80%" color=#987cb9 SIZE=3>
     <br>

     <div> <img src="../static/img/reset.png" width="500" height="300" alt="reset" />
          <span>This page asks the creator to enter the new password </span>
     </div>
     <br>
     <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=2)" width="80%" color=#987cb9 SIZE=10>

</div>

{% endblock %}
