{% extends "base.html" %}

{% block content %} 
{% from "bootstrap/pagination.html" import render_pagination %}

<table class="table table-bordered table-hover">
    <tr>
        <th>Date</th>
        <th>Meeting with</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Description</th>
        <th>Email</th>
        <th>Delete</th>
      </tr>
      {% for message in appointment_list.items %}
      <tr>
          <td>{{ message.Date}}</td>
          <td>{{ message.name }}</td>
          <td>{{ message.start_time }}</td>
          <td>{{ message.end_time }}</td>
          <td>{{ message.description}}</td>
          <td>{{ message.email}}</td>
          <td ><a href="/deleteRecord?email={{message.email}}&date={{message.Date}}&start={{message.start_time}}&end={{message.end_time}}"><button>delete</button></a></td>
      </tr>
      {% endfor %} 
</table>  

{% for page_num in appointment_list.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if appointment_list.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('meeting', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('meeting', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
      {% endif %}
{% endfor %}
 
  

{% endblock %}
